# Numpy Application

In [1]:
# Documentation link
#===============================================================================================================
#                                  https://docs.scipy.org/doc/
#===============================================================================================================

import numpy as np

## Création d'un tableau avec numpy

In [2]:
# Création d'un tableau de 1 dimension

A = np.array([1, 2, 3])
A

array([1, 2, 3])

In [3]:
# Vérifier le nombre de dimension
A.ndim

1

In [4]:
# Vérifier sa forme
A.shape

(3,)

In [5]:
# Création d'un tableau avec initialization avec des zeros
B = np.zeros((3, 2))
B

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [6]:
# Vérifier le nombre de dimension
B.ndim

2

In [7]:
# Vérifier sa forme
B.shape

(3, 2)

In [8]:
# Création d'un tableau avec initialization avec des uns
C = np.ones((3, 4))
C

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [9]:
# Vérifier le nombre de dimension
C.ndim

2

In [10]:
# Vérifier sa forme
C.shape

(3, 4)

In [11]:
# Vérifier sa taille
C.size

12

In [12]:
# Création d'un tableau avec initialization avec un certain nombre
D = np.full((3, 4), 6)
D

array([[6, 6, 6, 6],
       [6, 6, 6, 6],
       [6, 6, 6, 6]])

In [13]:
# Création d'un tableau avec initialization avec des nombres alléatoires
E = np.random.randn(3, 4) # randn initialise notre tableau avec des nombres issus de la distribution normale centrée en zero
E

array([[ 0.79975153, -1.15034683, -1.14421141, -1.45555744],
       [-0.99499595,  0.00444806,  1.01986011,  0.9226612 ],
       [ 1.63726449, -1.23446748, -0.92146587,  0.20236036]])

In [14]:
# si on veut fixer le génerateur alléatoires de sorte à avoir toujours les mêmes nombres alléatoires à chaque fois:

np.random.seed(0)

# Création d'un tableau avec initialization avec des nombres alléatoires
E = np.random.randn(3, 4) # randn initialise notre tableau avec des nombres issus de la distribution normale centrée en zero
E

array([[ 1.76405235,  0.40015721,  0.97873798,  2.2408932 ],
       [ 1.86755799, -0.97727788,  0.95008842, -0.15135721],
       [-0.10321885,  0.4105985 ,  0.14404357,  1.45427351]])

In [15]:
# Création de matrices identiques
F = np.eye(4)
F

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [16]:
F.ndim

2

In [17]:
F.shape

(4, 4)

- **Utile pour matpotlib (Surtout pour créer des graphes avec matpotlib)**

In [18]:
# constructeur [linspace]

"""
Le constructeur linspace nous permet de créer un tableau à une dimension
dans lequel on précise un point de départ, un point de fin et une quantité
d'éléments qu'on veut avoir dans notre tableau. Cette quantité de nombre va être répartie suivant le point de
début et de fin.
"""

L = np.linspace(0, 10, 20)
L

array([ 0.        ,  0.52631579,  1.05263158,  1.57894737,  2.10526316,
        2.63157895,  3.15789474,  3.68421053,  4.21052632,  4.73684211,
        5.26315789,  5.78947368,  6.31578947,  6.84210526,  7.36842105,
        7.89473684,  8.42105263,  8.94736842,  9.47368421, 10.        ])

In [19]:
# constructeur [arange]

"""
Le constructeur arange nous permet de créer un tableau à une dimension
dans lequel on précise un point de départ, un point de fin et le pas qu'on souhaiterait avoir
entre le point de départ et le point de fin dans notre tableau.
"""

R = np.arange(0, 10, 0.5)
R

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. ,
       6.5, 7. , 7.5, 8. , 8.5, 9. , 9.5])

In [20]:
# Précision de type de données qu'on veut avoir dans nos tableaux peu importe le constructeur utilisé
# [array, zeros, ones, full, randn, eye, linspace, arange, etc]

#NB: Plus le nombre de bits sera élévé, plus meilleure sera la précision, en revanche on n'aura un programme qui s'exécutera plus lentement.

print("Chaque nombre avec une précision de 64 bits en mémoire:\n")
L = np.linspace(0, 10, 20, dtype=np.float64)
print(L)

print("\nChaque nombre avec une précision de 16 bits en mémoire:\n")
L = np.linspace(0, 10, 20, dtype=np.float16)
print(L)

Chaque nombre avec une précision de 64 bits en mémoire:

[ 0.          0.52631579  1.05263158  1.57894737  2.10526316  2.63157895
  3.15789474  3.68421053  4.21052632  4.73684211  5.26315789  5.78947368
  6.31578947  6.84210526  7.36842105  7.89473684  8.42105263  8.94736842
  9.47368421 10.        ]

Chaque nombre avec une précision de 16 bits en mémoire:

[ 0.      0.5264  1.053   1.579   2.105   2.63    3.158   3.684   4.21
  4.74    5.26    5.79    6.316   6.844   7.367   7.895   8.42    8.945
  9.48   10.    ]

## Manipulation des tableaux avec les méthodes numpy

In [24]:
# Créons deux tableaux de même dimension A et B

A = np.zeros((3,2))
B = np.ones((3,2))
print("Tableau A")
print(A)
print("\nTableau B")
print(B)

Tableau A
[[0. 0.]
 [0. 0.]
 [0. 0.]]

Tableau B
[[1. 1.]
 [1. 1.]
 [1. 1.]]

- **Assemblage des tableaux**

In [28]:
# Suivant l'horizontal [hstack] (nombre de columns augmente)

C = np.hstack((A, B))
C

array([[0., 0., 1., 1.],
       [0., 0., 1., 1.],
       [0., 0., 1., 1.]])

In [29]:
# Suivant le vertical [vstack] (nombre de lignes augmente)
D = np.vstack((A, B))
D

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [32]:
# Avec la méthode concatenate en précisant l'axe selon lequel on veut les assembler

#Suivant le vertical axis=0
E = np.concatenate((A, B), axis=0)
E

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [33]:
#Suivant l'horizontal axis=1
F = np.concatenate((A,B), axis=1)
F

array([[0., 0., 1., 1.],
       [0., 0., 1., 1.],
       [0., 0., 1., 1.]])

- La méthode `reshape`

La méthode reshape nous permet de remanipuler la forme d'un tableau pour lui donner une nouvelle forme.
NB: Cette méthode ne marche que si le nombre d'éléments qu'on a dans la forme initiale est égal au nombre d'éléments dans la forme finale.

In [34]:
# Prenons notre tableau D pour essayer de changer sa forme

D

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [35]:
D.shape

(6, 2)

In [36]:
D.size

12

In [38]:
# on va reshape D à (3, 4) car 3*4 aussi font 12

D = D.reshape((3, 4))
D

array([[0., 0., 0., 0.],
       [0., 0., 1., 1.],
       [1., 1., 1., 1.]])

In [39]:
D.shape

(3, 4)

In [40]:
# NB: Le remaniement de notre tableau a bien un impact sur la manière dont les nombres
#     sont disposés dans notre tableau.

- **La méthode `ravel`**

La méthode ravel permet d'applatir un tableau à une seule dimension

In [41]:
# Prenons notre tableau D

D

array([[0., 0., 0., 0.],
       [0., 0., 1., 1.],
       [1., 1., 1., 1.]])

In [42]:
D = D.ravel()
D

array([0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1.])

## Exercise

In [47]:
def initialisation(m, n):
    # m: nombre de lignes
    # n: nombre de colonnes
    # retourne une matrice aléatoire (m, n+1)
    # avec une colonne biais ("remplie de "1" ") tout à droite
    
    # Fonctions possibles à utiliser
    # reshape, random.randn, concatenate
    
    A = np.random.randn(m, n+1)
    
    B = np.ones((m,1))
    
    C = np.concatenate((A, B), axis=1)
    
    return C

C = initialisation(4, 2)
C

array([[-1.61389785, -0.21274028, -0.89546656,  1.        ],
       [ 0.3869025 , -0.51080514, -1.18063218,  1.        ],
       [-0.02818223,  0.42833187,  0.06651722,  1.        ],
       [ 0.3024719 , -0.63432209, -0.36274117,  1.        ]])